<!DOCTYPE html>
<html>
	<head>
		<% include header.ejs%>
		<link rel="stylesheet" href="../stylesheets/Helpers/bootstrap-theme.min.css" />
<link rel="stylesheet" href="../stylesheets/Helpers/bootstrap.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"></script>

		<link rel="stylesheet" type="text/css" href="../stylesheets/mainZang.css" />
		<link rel="stylesheet" href="../stylesheets/Helpers/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/person.css" />


		<meta http-equiv="refresh" content="1500" >
	</head>
		<body>



						<% include ZangBox.ejs %>


						<div class="clear" id="resultContainer">

							<% include youtube.ejs %>




			<!-- maybe clearfix needs to be readded -->
					<% include wikiInsert.ejs %>

					<div id="longBlackLine"></div>

					<% include scholar.ejs %>
				</div>


<script src="../javascripts/RetinaSDK.js-master/src/retina-sdk.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type='text/javascript' src='../javascripts/waypoints/lib/noframework.waypoints.js'></script>
<script src="../stylesheets/Helpers/jquery-ui.min.js"></script>
<script type='text/javascript' src='../javascripts/pubsub.js'></script>
<script type='text/javascript' src='../javascripts/wikipediaMod.js'></script>
<script type='text/javascript' src='../javascripts/youtubeLoad.js'></script>
<script type='text/javascript' src='../javascripts/springerMod.js'></script>
<script type='text/javascript' src='../javascripts/regionMain.js'></script>
<script type='text/javascript' src='../javascripts/zangmainmoduled.js'></script>
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>




				</body>

</html>
