<!DOCTYPE html>
<html>
	<head>
      <% include header.ejs %>
		<link rel="stylesheet" href="../stylesheets/Helpers/bootstrap-theme.min.css" />
<link rel="stylesheet" href="../stylesheets/Helpers/bootstrap.min.css" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"></script>

		<link rel="stylesheet" type="text/css" href="../stylesheets/mainZang.css" />
		<link rel="stylesheet" href="../stylesheets/Helpers/jquery-ui.min.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/animals.css" />


	</head>
		<body>


			<% include ZangBox.ejs %>




			<div class="clear" id="resultContainer">

				<% include youtube.ejs %>

				<% include animalQF.ejs %>



<!-- maybe clearfix needs to be readded -->
		<% include wikiInsert.ejs %>

		<div id="longBlackLine"></div>

    <% include scholar.ejs %>
	</div>



		<% include scriptLoader.ejs %>

<script type='text/javascript' src='../javascripts/ejs_fulljslint.js'></script>
<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>




				</body>

</html>
