<div id="initialForm">
<div>
  <form action="" method="post" id="interest" style="display: block" enctype="multipart/form-data">
    <fieldset>


      <input type="text" name="NAinterest" id="NAinterest">
      <input type="submit" value="ZANG!" id="searchButton">

    </fieldset>
  </form>
    </div>
  </div>
